<style>

h1{
	text-align: center;
	color:#00008B;
}

h3{
	background-color:#000080;
	color:#FFFFFF;
	border: 1px solid black;
	padding:2px;
	width:27%;
	text-align: center;
	margin:0;
	position: relative;
	left:72%;

}

p{
	margin-top:10px;
	margin-bottom:0;
	position: relative;

}

section{

	background-color:#7FFFD4;
	color:#060000;
	border: 1px solid black;
	padding:10px;
	margin-bottom: 15px;
	width:90%;	
	box-sizing: border-box;	
		
}


@media (min-width: 992px){

	.col-lg-4{
		width:33%;
		float:left;
		
	}
} 

@media(min-width: 768px) and (max-width: 991px){

	.col-md-6{
		width:50%;
		float: left;
		

	}
	
	.col-md-12{
		width:100%;
		float:right;
	}
}

@media(max-width: 767px){
		.col-sm-12{
		width:100%;
		float: left;
		
	}
}

</style>